<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "bootstrap/bootstrap.min.css" %>
    <%= stylesheet_link_tag "font-awesome/font-awesome.min.css" %>
    <%= stylesheet_link_tag "template/stylesheet.css" %>
    <%= stylesheet_link_tag "template/responsive.css" %>
    <%= stylesheet_link_tag "owl-carousel/owl.carousel.css" %>
    <%= stylesheet_link_tag "owl-carousel/owl.transitions.css" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" %>

 
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "jquery-2.1.1.min.js" %>
    <%= javascript_include_tag "jstree.min.js" %>
    <%= javascript_include_tag "template.js" %>
    <%= javascript_include_tag "common.js" %>
    <%= javascript_include_tag "global.js" %>
    <%= javascript_include_tag "owl.carousel.min.js" %>


    
  </head>

  <body>
    <%= render "shared/preloader"%>
    <%= render "shared/header"%>
    <%= render "shared/noticeAndAlert"%>
    
    <%= yield %>
  </body>
</html>
